body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  overscroll-behavior: none;
  scrollbar-width    : thin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover {
  cursor    : pointer;
  transition: all 0.3s;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.landing-button {
  background-color: #000;
  border-color    : #fff;
  color           : #fff;
  transition      : all 0.3s;
}

.landing-button:hover {
  border-color    : #000 !important;
  background-color: #fff !important;
  color           : #000 !important;
}

.landing-button-inverse {
  background-color: #fff;
  border-color    : #000;
  color           : #000;
  transition      : all 0.3s;
  font-weight     : 600;
}

.landing-button-inverse:hover {
  border-color    : #fff !important;
  background-color: #000 !important;
  color           : #fff !important;
}

.menu-hover {
  cursor    : pointer;
  transition: all 0.3s;
}

.menu-hover:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.gradient1 {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  background-size : 200% 200%;
  animation       : gradientAnimation 8s infinite linear;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
    filter             : hue-rotate(180deg);
  }

  100% {
    background-position: 0% 50%;
    filter             : hue-rotate(360deg);
  }
}


.gradient2 {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.link {
  font-weight: 500;
  color      : #000;
  transition : color 0.3s;
}

.link:hover {
  color: blue;
}

.shadow {
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.15);
}

.rotate,
.rotate-trigger {
  transition: all 0.3s;
}

.rotate-trigger:hover .rotate {
  transition: all 0.3s;

}

.rotate-trigger:hover>.rotate {
  transform: rotate(-180deg);
}

.button-outline {
  border          : 1px solid #4312e5;
  background-color: white;
  transition      : all 0.3s;
}

.button-outline:hover {
  background-color: #4312e5 !important;
  color           : white !important;
}

/* *** Magic starts HERE */
:root {
  --diameter: 35vmax;
}

.aurora-light {
  background: #fff;
  position  : relative;
}

.aurora {
  background: #000;
  position  : relative;
}

.aurora:before,
.aurora:after,
.aurora-light:before,
.aurora-light:after {
  content      : '';
  display      : block;
  position     : absolute;
  width        : 1px;
  height       : 1px;
  border-radius: 100%;
  opacity      : 0.15;
}

.aurora:before,
.aurora-light:before {
  box-shadow: 0 0 var(--diameter) var(--diameter) red;
  animation : hue 30s linear infinite, move1 35s linear infinite;
}

.aurora:after,
.aurora-light:after {
  box-shadow: 0 0 var(--diameter) var(--diameter) cyan;
  animation : hue 35s linear infinite, move2 45s linear infinite;
}

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes move1 {
  0% {
    top : 0vh;
    left: 50vw;
  }

  25% {
    left: 0vw;
  }

  50% {
    top: 100vh;
  }

  75% {
    left: 100vw;
  }

  100% {
    top : 0vh;
    left: 50vw;
  }
}

@keyframes move2 {
  0% {
    top : 50vh;
    left: 100vw;
  }

  25% {
    top: 100vh;
  }

  50% {
    left: 0vw;
  }

  75% {
    top: 0vh;
  }

  100% {
    top : 50vh;
    left: 100vw;
  }
}