body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  overscroll-behavior: none;
  scrollbar-width    : thin;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover {
  cursor    : pointer;
  transition: all 0.3s;
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.landing-button {
  background-color: #4312e5;
  border-color    : #fff;
  color           : #fff;
  transition      : all 0.3s;
  font-weight     : 600;
}

.landing-button:hover {
  background-color: #fff !important;
  color           : #4312e5 !important;
}

.menu-hover {
  cursor    : pointer;
  transition: all 0.3s;
}

.menu-hover:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.gradient1 {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.gradient2 {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.link {
  font-weight: 500;
  color      : #000;
  transition : color 0.3s;
}

.link:hover {
  color: blue;
}

.shadow {
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.15);
}

.rotate,
.rotate-trigger {
  transition: all 0.3s;
}

.rotate-trigger:hover .rotate {
  transition: all 0.3s;

}

.rotate-trigger:hover>.rotate {
  transform: rotate(-180deg);
}